<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora :: Create New Post</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/new.css">
    
</head>
<body>
    <div class="header">
        <h1>Quora</h1>
    </div>

    <div class="form-container">
        <h2>Create New Post</h2>
        <form method="post" action="/posts">
            <input type="text" name="username" placeholder="Enter Username" required>
            <textarea name="content" placeholder="Write your post" required></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
</body>
</html>
