<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora :: Post Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/postdetail.css">
</head>
<body>
    <div class="header">
        <h1>Quora</h1>
    </div>

    <div class="details-container">
        <h2>Here is your post in detail:</h2>
        <% if (post) { %>
            <p>Post ID: <%= post.id %></p>
            <div class="post">
                <h3>@<%= post.username %></h3>
                <h4><%= post.content %></h4>
            </div>
        <% } else { %>
            <p>Post details not available.</p>
        <% } %>
    </div>
</body>
</html>
