body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: greenyellow;
    font-family:cursive;

}
input{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}