<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Homepage</title>
</head>
<body>
    <h2>The total no. of users are: <%= count %></h2>
    <button><a href="http://localhost:3000/user">Click here to view User DB</a></button>

    <button><a href="http://localhost:3000/user/add">Join Us Today!!</a></button>
</body>
</html>